<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>微信图片_20200514014001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-43}</string>
                <key>spriteSize</key>
                <string>{396,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{396,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>微信图片_20200514014012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-43}</string>
                <key>spriteSize</key>
                <string>{376,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,515},{376,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>微信图片_20200514014015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-40}</string>
                <key>spriteSize</key>
                <string>{374,510}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,1029},{374,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{398,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:693d32752b3b0565d7c3b438f29d3fe7:1e07f5e4e75b48dacf09c01d80568515:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
