<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-35}</string>
                <key>spriteSize</key>
                <string>{396,494}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,1027},{396,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-43}</string>
                <key>spriteSize</key>
                <string>{376,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-40}</string>
                <key>spriteSize</key>
                <string>{374,510}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,515},{374,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>birdL.png</string>
            <key>size</key>
            <string>{398,1522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2899a2bf2912c86bfdc58e6139eeec8f:fe1c73405cb64abb6785faa700f4e3ee:9d47c161fe0a153d96fe104db866b3fb$</string>
            <key>textureFileName</key>
            <string>birdL.png</string>
        </dict>
    </dict>
</plist>
