<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{168,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{191,58}</string>
                <key>spriteSourceSize</key>
                <string>{247,124}</string>
                <key>textureRect</key>
                <string>{{1,39},{191,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{255,62}</string>
                <key>spriteSourceSize</key>
                <string>{287,124}</string>
                <key>textureRect</key>
                <string>{{1,99},{255,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{268,68}</string>
                <key>spriteSourceSize</key>
                <string>{312,102}</string>
                <key>textureRect</key>
                <string>{{65,99},{268,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{271,71}</string>
                <key>spriteSourceSize</key>
                <string>{311,107}</string>
                <key>textureRect</key>
                <string>{{135,99},{271,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>downlevel.png</string>
            <key>size</key>
            <string>{207,371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d3e8d93d393a5f529c009a8230bf70a:294e9ee63dfb563e2b1b644bcc4bb9ee:4b9ad71c36051d48cd4c2ad2ed5a773d$</string>
            <key>textureFileName</key>
            <string>downlevel.png</string>
        </dict>
    </dict>
</plist>
