<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-43}</string>
                <key>spriteSize</key>
                <string>{376,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{498,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,600}</string>
                <key>textureRect</key>
                <string>{{515,1},{498,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{498,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,600}</string>
                <key>textureRect</key>
                <string>{{1015,1},{498,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{498,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,600}</string>
                <key>textureRect</key>
                <string>{{1515,1},{498,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fly.png</string>
            <key>size</key>
            <string>{2014,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a948b4b94035df51453652becb8d7e:049b7caaa8093318cf95934303fb0052:1ce79e2fdbfe893a67683f01bb274a8f$</string>
            <key>textureFileName</key>
            <string>fly.png</string>
        </dict>
    </dict>
</plist>
